
/**Fabiana Correa**/
/**200600190**/
/** Step one **/
.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
 
/** Step two **/
h1,h2,h3{
    font-family: "Julius Sans One", sans-serif;
}

/** Step three **/
h1{
    font-size: 46px
    letter-spacing 2px;
    text-align: center;
    color: #00FFFF;
}

/** Step four **/
p, li, a{
    font-family: "Krona One", system-ui;
}

/** Step five **/
span{
    color: chartreuse;
}

/** Step six **/
h3{
    font-size: 80px;
    text-shadow:  2px 4px rgba(160,32,240);
}